.form_container{
  width: 60%;
  margin: auto;
  align-self: center;
  padding: 3rem 5rem;
  border-radius: 8px;
  background-color: #ffffff;
}
.form-group{
  margin: 2rem 0;
}
label{
  margin-bottom: 1rem;
  font-weight: bolder;
}

